.container
  .row
    .span12.offset2
      #video_wrapper
        #video{:style => "opacity:0"}
          %object{:width => 700, :height => 395}
            =param('movie',youtube_url)
            =param('allowFullScreen','true')
            =param('allowscriptaccess','always')
            %embed{:src => youtube_url, :type => "application/x-shockwave-flash", :width => 700, :height => 395, :allowFullScreen => 'true', :allowscriptaccess => 'always'}            
      #send_socks_info.info_box.hide
        %h3.info_box_title=(t :send_socks_button)
        .send_socks_info
          %p=t :send_socks_1
          %p=t :send_socks_2  
        .post_socks_address
          %p=t(:send_socks_address).gsub(/\n/,"<br/>").html_safe
        .post_socks_share
          =facebook_share
          =twitter_share(t(:twitter_sent_socks_text))
        =link_to("#{t :close} x", "#", :class => "close_info_box")
      #buy_socks_info.info_box.hide
        %h3.info_box_title=(t :buy_socks_button)
        .send_socks_info
          %p=t :buy_socks_1 
          %p=t :buy_socks_2 
        .send_socks_tag
          %p=t :buy_socks_tag_text 
          =link_to("#{t :buy_btn}", "#", :id => "buy_btn")
        .send_socks_share
          =facebook_share
          =twitter_share(t(:twitter_sent_socks_text))
        =link_to("#{t :close} x", "javascript:void(0)", :class => "close_info_box")
      #buy_socks_iframe.info_box.hide
        %iframe{:width => '660',  :height => 395, :src => t(:buy_socks_iframe_url), :frameborder => 0, :allowtransparency => true, :scrolling => 'no'}      
        =link_to("#{t :close} x", "javascript:void(0)", :class => "close_info_box")
        
    .span2
      #share_this_wrapper
        #share_this.hide
          %h3=t :share_this
          %ul.unstyled
            %li=twitter_share(t(:twitter_share_site_text))
            %li=facebook_share
            %li=google_share

  .row#calls_to_action
    #send_and_buy.span7.offset2
      %h2#send_socks.call_to_action
        =link_to (t :send_socks_button), "javascript:void(0)"
      %h2#buy_socks.call_to_action
        =link_to (t :buy_socks_button), "javascript:void(0)"
    .span5
      %h3#find_out_more.call_to_action
        =link_to "http://www.youtube.com/user/invisiblesfilms", :id=>"find_out_more_link", :target => '_blank', do
          %span.hide
            =t :find_out_more
          =t :find_out_more_about
#tweet_stream
  .container#tweet_stream_content
    .row
      .span4.offset2
        %h2#tweet_stream_title
          =t :people_sent_socks
      #tweet_window.span9
        #all_tweets
          -@tweets.each do |tweet|
            .tweet.span5
              =link_to "http://twitter.com/#{tweet["from_user"]}/status/#{tweet["id_str"]}", :target => '_blank' do
                =image_tag tweet["profile_image_url"], :class=>"twitter_profile_image"
                %span.twitter_username=tweet["from_user"]
                =tweet["text"]
      =link_to(">", "javascript:void(0)", :id => "next_tweet")