-content_for :head do
  =javascript_include_tag "https://www.google.com/jsapi"
  %script{:type=>"text/javascript", :src => "https://www.google.com/jsapi"}
  :javascript
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Hour');
      data.addColumn('number', 'API calls');
      data.addRows(#{@data.inspect});
      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, {
        width: '100%',
        height: 200,
        legend: 'none',
        hAxis:{
          title: 'API calls per hour for the last two days'
        }
      });
    }

.span4
  %h1 API calls
.span6
  #stats.pull-right
    %b Stats
    %i.icon-user
    =@app_users.count
    %i.icon-share-alt
    =ApiCallLog.all.count
.span10
  #chart_div
.span10
  %h1 App users
.span10
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %th UUID
        %th Api calls
        %th App version
        %th IP location
        %th Geolocation
        %th Created
    %tbody
      -@app_users.each do |app_user|
        %tr
          %td=truncate(app_user.uuid,:length => 11)
          %td=app_user.api_call_logs.count
          %td=app_user.api_call_logs.collect(&:app_version).uniq.join(', ')
          %td
            -ip_lat_lng = [app_user.api_call_logs.last.ip_lat, app_user.api_call_logs.last.ip_lng]
            -if !ip_lat_lng.all?{|l| l.to_i.zero?}
              =link_to(app_user.api_call_logs.last.ip_location, "http://maps.google.com/maps?q=loc:#{ip_lat_lng[0]},#{ip_lat_lng[1]}(#{u app_user.api_call_logs.last.ip_location})&z=7", :target => '_blank')
          %td
            -lat_lng = [app_user.api_call_logs.last.lat, app_user.api_call_logs.last.lng]
            -if !lat_lng.all?{|l| l.to_i.zero?}
              =link_to("#{lat_lng.map{|l| "%.2f" % l.to_f}.join(', ')}", "http://maps.google.com/maps?q=loc:#{lat_lng[0]},#{lat_lng[1]}&z=7", :target => '_blank')
          %td=app_user.created_at
  =will_paginate @app_users
    