!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Chase the Unicorn
    = csrf_meta_tag
    = favicon_link_tag
    = javascript_include_tag "application"
    = stylesheet_link_tag "admin"
    =yield :head
  %body#admin
    #main.container  
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %ul.nav.pull-left
              %li{:class => "#{'active' if action_name == 'iphone'}"}
                =link_to(admin_path) do
                  %i.icon-home.icon-white
                  Home
              %li{:class => "#{'active' if controller_name == 'visits' && action_name == 'index'}"}
                =link_to(visits_path) do
                  %i.icon-screenshot.icon-white
                  Sightings
              %li{:class => "#{'active' if controller_name == 'venues'}"}
                =link_to(venues_path) do
                  %i.icon-map-marker.icon-white
                  Venues
              %li{:class => "#{'active' if controller_name == 'messages'}"}
                =link_to(message_path) do
                  %i.icon-envelope.icon-white
                  Message
              %li{:class => "#{'active' if controller_name == 'events'}"}
                =link_to(events_path) do
                  %i.icon-calendar.icon-white
                  Events
              %li{:class => "#{'active' if controller_name == 'categories'}"}
                =link_to(categories_path) do
                  %i.icon-list-alt.icon-white
                  Categories
              %li{:class => "#{'active' if controller_name == 'app_users'}"}
                =link_to(app_users_path) do
                  %i.icon-user.icon-white
                  Users
              %li{:class => "#{'active' if controller_name == 'foursquare_users'}"}
                =link_to(foursquare_users_path) do
                  %i.icon-ok-sign.icon-white
                  Foursquare
              %li{:class => "#{'active' if controller_name == 'site_settings'}"}
                =link_to(site_settings_path) do
                  %i.icon-cog.icon-white
                  Settings
            %ul.nav.pull-right
              %li
                %a#time_now
                  %i.icon-time.icon-white
                  =Time.current.strftime('%H:%M')
    #main.container
      .row
        =yield