%html
  %head
    %title=t(:site_name)
    = csrf_meta_tag
    = favicon_link_tag
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    =yield :head
  %body
    =sharing_js
    .container
      .row#header
        .span10.offset2
          =link_to "Amnesty International", "http://www.amnesty.org/", :target=>"_blank", :id=>"amnesty_logo"
          #title=t(:site_name)
        .span2
          #language_toggle
            =link_to("ENG", "/", :class => "#{'active' if I18n.locale != :es}")
            =link_to("ESP", "/?hl=es", :class => "#{'active' if I18n.locale == :es}")
    =yield
    .container
      #footer.row
        .span2.offset3
          %p
            Directed by
            %strong
              =link_to "Mark Silver", "http://www.marcsilver.net/", :id=>"yoomee_footer_logo", :target=>"_blank"
        .span4
          %p
            Soundtrack
            %br
            %strong
              "LILIES OF THE VALLEY"  
            %br
            Composed by:  Jun MIYAKE
            %br
            Published by: Métisse Music, France
        .span3
          %p
            In collaboration with
            %br
            =link_to "Amnesty International", "#", :id=>"amnesty_footer_logo", :target=>"_blank"
        .span3
          %p
            Website by
            %br
            =link_to "Yoomee", "#", :id=>"yoomee_logo", :target=>"_blank"          
          
    #fb-root
