%html
  %head
    %title=t(:site_name)
    = csrf_meta_tag
    = favicon_link_tag
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    =yield :head
  %body
    =sharing_js
    .container
      .row#header
        .span8.offset4
          #title=t(:site_name)
        .span2
          #language_toggle
            =link_to("ENG", "/", :class => "#{'active' if I18n.locale != :es}")
            =link_to("ESP", "/?hl=es", :class => "#{'active' if I18n.locale == :es}")
    =yield
    .container
      %footer
        %p &copy; Yoomee 2011
    #fb-root
