!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title=t(:site_name)
    = csrf_meta_tag
    = favicon_link_tag
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    =yield :head
  %body{:class => "hl_#{I18n.locale}"}
    =sharing_js
    .container
      .row#header
        .span10.offset2
          =link_to "Amnesty International", "http://www.amnesty.org/", :target=>"_blank", :id=>"amnesty_logo"
          #title=t(:site_name)
        .span2
          #language_toggle
            =link_to("ENG", "/", :class => "#{'active' if I18n.locale != :es}")
            =link_to("ESP", "/?hl=es", :class => "#{'active' if I18n.locale == :es}")
    =yield
    .container
      #footer.row
        .span2.offset3
          %p
            =t :directed_by
            %strong
              =link_to "Marc Silver", "http://www.marcsilver.net/", :id=>"yoomee_footer_logo", :target=>"_blank"
        .span4
          %p
            =t :soundtrack
            %br
            %strong
              "LILIES OF THE VALLEY"  
            %br
            ="#{t :composed_by}:"
            Jun MIYAKE
            %br
            ="#{t :published_by}:"
            Métisse Music,
            =t :france
        .span3
          %p
            =t :in_collaboration_with
            %br
            =link_to "Amnesty International", "#", :id=>"amnesty_footer_logo", :target=>"_blank"
        .span3
          %p
            =t :website_by
            %br
            =link_to "Yoomee", "#", :id=>"yoomee_logo", :target=>"_blank"          
          
    #fb-root
