!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title=t(:site_name)
    = csrf_meta_tag
    = favicon_link_tag
    %meta{:property => "og:url", :content => t(:site_url)}
    %meta{:property => "og:title", :content => t(:site_name)}
    %meta{:property => "og:site_name", :content => t(:site_name)}
    %meta{:property => "og:type", :content => "non_profit"}
    %meta{:property => "og:image", :content => t(:video_still_url)}
    -if false #TODO uncomment when videos are on correct channel
      %meta{:property => "og:video", :content => "http://www.youtube.com/v/#{t :video_id}?version=3&amp;autohide=1"}
      %meta{:property => "og:description", :content => ""}
      %meta{:property => "og:video:width", :content => "398"}
      %meta{:property => "og:video:height", :content => "224"}
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    =yield :head
  %body{:class => "hl_#{I18n.locale}"}
    =sharing_js
    .container
      .row#header
        #header_content.span14.offset2
          =link_to "Amnesty International", "http://www.amnesty.org/", :target=>"_blank", :id=>"amnesty_logo"
          #title=t(:site_name)
          #language_toggle
            =link_to("ENG", "http://sendsocks.org", :class => "#{'active' if I18n.locale != :es}")
            =link_to("ESP", "http://mandacalcetines.org", :class => "#{'active' if I18n.locale == :es}")
    =yield
    .container
      #footer.row
        .span2.offset3
          %p
            =t :directed_by
            %strong
              =link_to "Marc Silver", "http://www.marcsilver.net/", :id=>"yoomee_footer_logo", :target=>"_blank"
        .span4
          %p
            =t :soundtrack
            %br
            %strong
              "LILIES OF THE VALLEY"  
            %br
            ="#{t :composed_by}:"
            Jun MIYAKE
            %br
            ="#{t :published_by}:"
            Métisse Music,
            =t :france
        .span3.offset3
          %p
            =t :website_by
            %br
            =link_to "Yoomee", "#", :id=>"yoomee_logo", :target=>"_blank"          
          
    #fb-root
